# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Configuration
MONGO_URI=mongodb+srv://yohanrak61_db_user:uOIf8qa2ycHUIiV8@test.fj9msqi.mongodb.net/centre-commercial

# JWT Configuration
JWT_SECRET=supersecret
JWT_EXPIRES_IN=24h

# Frontend URL (for CORS and email links)
FRONTEND_URL=http://localhost:4200

# Email Configuration (Gmail api)
GMAIL_CLIENT_ID=544597566666-ch9gsku8qqgch5u4g6vsdsgpl2hd255a.apps.googleusercontent.com
GMAIL_CLIENT_SECRET=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
GMAIL_REDIRECT_URI_LOCAL=http://localhost:5000/oauth2callback
GMAIL_REDIRECT_URI_PROD=https://backendcommercial.onrender.com/oauth2callback
GMAIL_REFRESH_TOKEN=1//03-SHyIvbVxK6CgYIARAAGAMSNwF-L9Ir9UgCfiT2hu9R5JwYVqXZoxNyls1EsrXx9eC0cNw4xzV2UshVDLTRQywWLVnmHDduFnQ
GMAIL_USER=yohanrak61@gmail.com
EMAIL_SENDER_NAME=Centre Commercial

# OTP Configuration
OTP_EXPIRES_IN=5
# Admin Secret Key (pour créer des comptes admin via register)
ADMIN_SECRET_KEY=admin-secret-2024
